body{
  background: url(img/login.jpg);
  background-size: cover;
  background-position: center center;

}

button{
  width: 100%;
  margin-top: 20px !important;
}

#login {
  height: 100vh;
}

#card {
  min-width: 400px;
}

#card input{
  min-width: 370px;
}

img{
  text-align: center;
}